<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagram</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="main">
        <div class="sidebar">
            <div class="color">
                <div class="header"><div class="head"><h1>instagram</h1></div></div>
                <div class="icon">
                    <a class="a" href=""><div class="icons"><div class="icontab "><i class="fa-solid fa-house"></i><span class="span" id="home">Home</span></div></div></a>
                    <a class="a" href=""><div class="icons"><div class="icontab"><i class="fa-solid fa-magnifying-glass"></i><span class="span">search</span></div></div></a>
                    <a class="a" href=""><div class="icons"><div class="icontab"><i class="fa-regular fa-compass"></i><span class="span">explore</span></div></div></a>
                    <a class="a" href=""><div class="icons"><div class="icontab"><i class="fa-solid fa-notes-medical"></i><span class="span">reels</span></div></div></a>
                    <a class="a" href=""><div class="icons"><div class="icontab"><i class="fa-solid fa-message"></i><span class="span">message</span></div></div></a>
                    <a class="a" href=""><div class="icons"><div class="icontab"><i class="fa-regular fa-heart"></i><span class="span">notification</span></div></div></a>
                    <a class="a" href=""><div class="icons"><div class="icontab"><i class="fa-solid fa-circle-plus"></i><span class="span">create</span></div></div></a>
                    <a class="a" href=""><div class="icons"><div class="icontab"><img class="profile" src="<%=data[0].backgroundImg %>" alt=""><span class="span">profile</span></div></div></a>
                </div>
                <div class="change">
                    <a class="a" href=""><div class="icons"><div class="icontab "><i class="fa-brands fa-threads"></i><span class="span">threads</span></div></div></a>
                    <a class="a" href=""><div class="icons"><div class="icontab "><i class="fa-solid fa-layer-group"></i><span class="span">more</span></div></div></a>
                </div>
            </div>
        </div>
        <div class="center-main">
            <div></div>
        </div>
    </div>
</body>
</html>